@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Rubik&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* Header start */

.header {
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  max-height: 65px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 40px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #FFF;
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
}

.language {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.language__option {
  font-weight: 600;
  text-transform: uppercase;
}

.language__option_non-active {
  color: #B7B7B7;
  outline-offset: 2px;
  outline: transparent solid 1px;
  transition: outline 1s;
}

.language__option_non-active:hover {
  outline: #ffffff4b solid 1px;
  transition: outline 1s;
}

/* Header end */

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Intro section start */

.intro {
  position: relative;
  height: 750px;
  background: url(../img/intro-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.intro::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
}

.intro__content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 790px;
  height: 652px;
}

.intro__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  text-transform: uppercase;
}

.btn {
  width: 198px;
  height: 50px;
  border: none;
  color: #FFF;
  background-color: #DB2512;
  font-weight: 500;
  font-size: 18px;
  transition: background-color .5s;
}

.btn:hover {
  cursor: pointer;
  outline-offset: 2px;
  outline: #632d2d9c solid 1px;
  background-color: #be2211;
  transition: background-color .5s;
}

.btn:active {
  border: 1px solid #613c38;
  border: 1px inset #5c4340;
}

/* Intro section end */

/* Address section start */

.address {
  position: relative;
  z-index: 3;
  margin-top: -98px;
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 386px;
}

.address__item {
  height: 196px;
  background-color: #FFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.item__img {
  max-width: 30px;
  max-height: 30px;
}

.item__title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}

.item__text {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #B7B7B7;
}

/* Address section end */
